#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #usersTable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    margin: 15px
  }
  
  #td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #usersTable tr:nth-child(even){background-color: #c59393;}
  
  #usersTable tr:hover {background-color: #ddd;}
  #button {
    background-color: rgb(219, 165, 98);
    font-weight: 300;
}
